---
import CommentAside from "@components/CommentAside.astro";
import {comment} from "@/consts";
import CategoriesList from "@components/CategoriesList.astro";
import {getCollectionByName} from "@utils/getCollectionByName";
import getUniqueTags from "@utils/getUniqueTags";
import getCountByCategory from "@utils/getCountByCategory";
import {sortPostsByDate} from "@utils/sortPostsByDate";
import {site,categories} from '@/consts'
import {t} from '@/i18n/utils';

const blogs = await getCollectionByName('blog')
let tagArr = getUniqueTags(blogs);
let categoryCount = getCountByCategory(blogs);
let sortPosts = await sortPostsByDate(blogs);
let resultPosts = sortPosts.splice(0, site.recentBlogSize);
---

<section class="shadow-lg rounded-lg bg-bland-sideberbackground/40">
  {
    Object.keys(categoryCount).length > 0 && (
      <h2 class="aside-widget bg-bland-sidebertitle/50 p-2 rounded-t-lg">
        <i class="ri-folder-line menu-icon font-normal"/>{t('sidebar.categories')}
      </h2>
    )
  }
  <div class="px-2 pb-2">
    <CategoriesList categories={categories} countList={categoryCount}></CategorisList>
  </div>
</section>
<section class="shadow-lg rounded-lg bg-bland-sideberbackground/40">
  {
    tagArr.length > 0 && (
      <h2 class="aside-widget bg-bland-sidebertitle/50 p-2 rounded-t-lg">
        <i class="ri-price-tag-3-line menu-icon font-normal"/>
        {t('sidebar.tags')}
      </h2>
    )
  }
  <div class="flex flex-wrap px-2 pb-2">
    {
      tagArr &&
      tagArr.map((tag) =>
        <a class="inline-block truncate m-1 p-2 text-sm text-slate-50 bg-green-600 transition hover:bg-slate-400" title={tag} href={"/tags/" + tag}>{tag}</a>
      )
    }
  </div>
</section>

<section class="shadow-lg rounded-lg bg-bland-sideberbackground/40">
  <h2 class="aside-widget bg-bland-sidebertitle/50 p-2 rounded-t-lg">
    <i class="ri-file-line menu-icon font-normal"></i> {t('sidebar.recentArticle')}
  </h2>
  <div class="flex flex-col px-2 pb-2">
    {
      resultPosts.map((post) => (
        <a
          href={"/post/" + post.slug}
          class="truncate cursor-pointr mt-1 hover:text-skin-active"
          title={post.data.title}
        >
          {post.data.title}
        </a>
      ))
    }
  </div>
</section>

{comment.enable && comment.type === "waline" && <CommentAside/>}
